@use "../utils/variables" as *;
@use "../utils/mixins" as *;

@use "../shared/texts" as *;
@use "../shared/titles" as *;
@use "../shared/grid" as *;

.footer {
  @extend %cover;

  position: fixed;
  padding: $border-gap;
  height: auto;
  bottom: 0;
  top: auto;
  z-index: 2;

  .footer_wrapper {
    @extend %grid-8;
    @extend %text-11;

    letter-spacing: -0.043431rem;
    width: 100%;

    span {
      @extend %text-11;

      letter-spacing: -0.043431rem;
      display: block;
    }

    .copyright {
      grid-column: 2/4;

      span span {
        display: inline;
        font-size: 135%;
      }
    }
    .dev_info {
      align-items: self-end;
      display: flex;
      flex-direction: column;
      grid-column: -2/-1;
      justify-content: flex-end;
    }
  }

  &.preloading &_wrapper > * {
    opacity: 0;
  }

  &.preloading &_wrapper .navigation_logo {
    opacity: 1;
  }
}
