@use "../utils/mixins" as *;
@use "../utils/variables" as *;
@use "../utils/responsive" as *;

@use "../shared/titles" as *;
@use "../shared/texts" as *;
@use "../shared/grid" as *;

.navigation {
  @extend %cover;

  position: fixed;
  padding: $border-gap;
  height: auto;
  z-index: 2;
  pointer-events: auto;

  .navigation_wrapper {
    @extend %grid-8;
    @extend %text-11;

    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    width: 100%;
    letter-spacing: -0.043431rem;
    z-index: 3;
    position: relative;

    span {
      @extend %text-11;

      letter-spacing: -0.043431rem;
      display: block;
    }

    .navigation_logo {
      @extend %title-22;
      grid-column: span 1;

      p {
        display: inline;
      }

      p.copyright {
        @extend %text-17;

        text-align: center;
        vertical-align: top;
        padding-left: 0.36rem;
      }

      p:last-child {
        display: block;
      }
    }

    .navigation_content {
      grid-column: span 3;

      a {
        text-decoration: underline;
      }

      @include media("<=tablet") {
        display: none;
      }
    }

    .navigation_services {
      grid-column: span 2;

      @include media("<=tablet") {
        display: none;
      }
    }

    .navigation_social {
      @include media("<=tablet") {
        display: none;
      }

      grid-column: span 1;

      .social_wrapper {
        display: flex;
        gap: 1.1rem;
      }
    }

    .navigation_menu {
      grid-column: span 1;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      flex-direction: column;

      @include media("<=tablet") {
        display: none;
      }

      & a svg {
        opacity: 0;
        transition: opacity 0.3s ease;
      }

      & a.active svg {
        opacity: 1;
      }

      svg {
        opacity: 0;
        margin-right: 0.7rem;
      }

      span {
        display: inline;
      }
    }

    .navigation_hamburger {
      cursor: pointer;
      grid-column: -2/-1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      @include media(">tablet") {
        display: none;
      }

      .navigation_hamburger_wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 0.5rem;
        max-width: max-content;
      }

      .line {
        width: 2rem;
        height: 0.2rem;
        background-color: currentColor;
        transform-origin: center;
        transition: transform 0.5s ease;
      }
    }
  }

  .navigation_content_wrapper {
    @extend %cover;
    @extend %center;

    position: fixed;
    z-index: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity ease 0.5s;

    .navigation_content {
      @extend %grid-4;

      max-width: 50rem;
      width: 100%;

      span {
        @extend %text-11;

        letter-spacing: -0.043431rem;
        display: block;
      }

      .navigation_menu,
      .navigation_menu span {
        @extend %title-120;

        grid-column: 1/-1;
        display: flex;
        flex-direction: column;

        .menu_link {
          display: flex;
          justify-content: flex-end;
          align-items: center;

          svg {
            margin-right: 10rem;

            @include media("<=phone") {
              margin-right: auto;
            }
          }

          & svg {
            opacity: 0;
            transition: opacity 0.3s ease;
          }

          &.active svg {
            opacity: 1;
          }
        }
      }

      .navigation_contact {
        grid-column: span 2;

        a {
          text-decoration: underline;
        }
      }

      .navigation_services {
        grid-column: span 2;
      }

      .navigation_social {
        grid-column: span 2;

        .social_link_wrapper {
          display: flex;
          gap: 1rem;
        }
      }
    }
  }

  &.active {
    .navigation_content_wrapper {
      opacity: 1;
      padding: $border-gap;
      z-index: 2;
      pointer-events: auto;
    }

    .navigation_hamburger {
      .top_line {
        transform: translateY(0.35rem) rotate(45deg);
      }

      .bottom_line {
        transform: translateY(-0.35rem) rotate(-45deg);
      }
    }
  }

  &.preloading &_wrapper > * {
    opacity: 0;
  }

  &.preloading &_wrapper .navigation_logo {
    opacity: 1;
  }
}
