@use "../utils/mixins" as *;
@use "../utils/variables" as *;

@use "../shared/titles" as *;
@use "../shared/texts" as *;
@use "../shared/grid" as *;

.navigation {
  @extend %cover;

  position: fixed;
  padding: $border-gap;
  height: auto;
  z-index: 2;

  .navigation_wrapper {
    @extend %grid-8;
    @extend %text-11;

    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    width: 100%;
    letter-spacing: -0.043431rem;

    span {
      @extend %text-11;

      letter-spacing: -0.043431rem;
      display: block;
    }

    .navigation_logo {
      @extend %title-22;
      grid-column: span 1;

      p {
        display: inline;
      }

      p.copyright {
        @extend %text-17;

        text-align: center;
        vertical-align: top;
        padding-left: 0.36rem;
      }

      p:last-child {
        display: block;
      }
    }

    .navigation_content {
      grid-column: span 3;

      a {
        text-decoration: underline;
      }
    }

    .navigation_services {
      grid-column: span 2;
    }

    .navigation_social {
      grid-column: span 1;

      .social_wrapper {
        display: flex;
        gap: 1.1rem;
      }
    }

    .navigation_menu {
      grid-column: span 1;

      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      flex-direction: column;

      & a svg {
        opacity: 0;
        transition: opacity 0.3s ease;
      }

      & a.active svg {
        opacity: 1;
      }

      svg {
        opacity: 0;
        margin-right: 0.7rem;
      }

      span {
        display: inline;
      }
    }
  }

  &.preloading &_wrapper > * {
    opacity: 0;
  }

  &.preloading &_wrapper .navigation_logo {
    opacity: 1;
  }
}
