@use "../utils/mixins" as *;
@use "../utils/responsive" as *;

@use "../shared/titles" as *;
@use "../shared/texts" as *;

.preloader {
  @extend %cover;
  @extend %center;

  padding: 2.8rem;
  position: fixed;
  z-index: 2;

  .preloader_wrapper {
    @extend %center;

    height: 100%;
    width: 100%;
    position: relative;
    justify-content: space-between;

    .preloader_loading_media {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .preloader_loading_line {
      width: 100%;
      height: 100%;
      background-color: currentColor;
      height: 0.1rem;
      z-index: 1;
      transform-origin: left;
      scale: 0;
    }

    .preloader_text {
      @extend %title-120;

      text-align: right;
      padding-left: 3.4rem;

      span {
        display: block;
      }
    }
  }
}

.mobile_preloader {
  @extend %center;

  position: fixed;
  inset: 0;
  z-index: 0;
  padding: 4rem;
  gap: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: currentColor;

  @include media(">tablet") {
    display: none;
  }

  .mobile_preloader_heading {
    @extend %title-87;

    text-align: end;
    font-size: 6.5rem;

    .line {
      width: 7rem;
      height: 1rem;
      background: currentColor;
      display: inline-block;
      vertical-align: middle;
    }

    .middle_line {
      margin-right: 2%;
    }
  }

  .mobile_preloader_content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.5rem;

    span {
      @extend %text-11;

      letter-spacing: -0.043431rem;
      display: block;
    }
  }
}
