@use "utils/mixins" as *;
@use "utils/variables" as *;
@use "utils/responsive" as *;

@use "shared/pages" as *;
@use "shared/grid" as *;
@use "shared/titles" as *;
@use "shared/texts" as *;

.home {
  @extend %page;
  @extend %cover;

  .home_wrapper {
    height: 100%;
    width: 100%;

    .case_gallery {
      @extend %cover;

      .case_gallery_wrapper {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        display: flex;
        align-items: center;
        flex-direction: column;

        .case_gallery_link {
          margin-block: 23vh;
          position: relative;

          .case_gallery_media {
            height: 54vh;
            aspect-ratio: 1/1;
            position: relative;

            .case_gallery_media_image {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .case_gallery_count_wrapper {
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translateX(-18%) translateY(-50%);

            display: flex;
            flex-direction: column;
            // pointer-events: none;
          }

          .case_gallery_count {
            position: relative;
            max-width: max-content;
          }

          .case_gallery_count_heading {
            @extend %title-120;

            .gallery_total_count {
              display: block;
              text-align: right;
            }
          }

          .case_gallery_name {
            @extend %text-15;

            // @include media("<=tablet") {
            //   display: none;
            // }

            width: 13rem;
            line-height: 1.3;
            position: absolute;
            top: 100%;
            margin-top: 4rem;
            right: 0;
          }
        }
      }
    }
  }
}
