footer.footer
    .footer_wrapper     
        .copyright  
            span
                span &copy; 
                |  design

            span Embraced LTD
        .dev_info   
            span C-Nr. 07186749
            span Dev. PEROZZI
