footer.footer
  .footer_wrapper     
    .copyright  
      span
        span &copy; 
        |  #{footer.companyName.split(' ')[0]}
      span= footer.companyName.split(' ').slice(1).join(' ')
    .dev_info   
      span= footer.companyNumber
      span Dev. #{footer.developerName}