.preloader(style='background-color: ' + (colors && colors.backgroundColor) + '; color: ' + (colors && colors.textColor))
    .preloader_wrapper
        figure.preloader_loading_media
            img.preloader_loading_media_image(src="../assets/media/loader.gif" alt="")
        .preloader_loading_line
        h1.preloader_text
            span.current_count PR.01
            span.total_count /#{String(projects.length).padStart(2, '0')}
