.preloader
    .preloader_wrapper
        figure.preloader_loading_media 
            img.preloader_loading_media_image(src="../assets/media/loader.gif" alt="")
        .preloader_loading_line
        h1.preloader_text PR.01     
            span / 07
