@use "utils/variables" as *;

@font-face {
  font-family: $font-modern-era-mono;
  src: url("/assets/fonts/ModernEraMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-modern-era-mono;
  src: url("/assets/fonts/ModernEraMono-ExtraBold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-modern-era-mono;
  src: url("/assets/fonts/ModernEraMono-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-exodus-sans;
  src: url("/assets/fonts/EudoxusSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-exodus-sans;
  src: url("/assets/fonts/EudoxusSans-ExtraBold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-exodus-sans;
  src: url("/assets/fonts/EudoxusSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
